body{
	background : #42455a;
}

.menu ul{
	display : inline-flex;
	margin : 40px;
}

.menu ul li{
	list-style: none;
	margin: 0 30px;
	color: #b2b1b1;
	cursor: pointer;
	text-decoration: none;
}


a{
	color: #b2b1b1;
	text-decoration: none;
}

#active{
	color: white;
}

.title{
	text-align: center;
	color : white;
}

.name{
	text-align: right;
	color : white;
	margin-right: 20px;
}

.banner{
	background-color: #323442;
	height: 240px;
	margin-bottom: 20px;
}




/*Map*/

.wmap{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.toast{
	border-color: white;
	width: 250px;
	height: 60px;
	background-color: white;
	position: absolute;
	top: 350px;
	left: 70px;
}

.poly{
	background-color: black;
}

.resetmap{
	position: absolute;
	top: 430px;
	left: 70px;
}