p{
	color: white;
}

h2{
	color: white;
}

/*#earth{
	margin-left: 5%;
	margin-top: 5%;
}*/

.outside_rim {
position: relative;
width: 180px;
height: 180px;
border-radius: 250px;
/*background: #eaddbb;
box-shadow: inset 0 0 10px #4a3933;*/
border: 14px solid rgba(255,255,255,0);
position: absolute;
top: 425px;
left: 252px;
z-index: 999;
}

.in {
position: absolute;
width: 100px;
height: 100px;
background: transparent;
-moz-border-radius: 1000px;
-webkit-border-radius: 1000px;
border-radius: 1000px;
z-index: 1000;
left: 100px; /* center DIV horizontally (100%-88% / 2) */
top: 75px; /* center DIV vertically (100%-88% / 2) */
}

.in::before {
/* clock center dot small */
content: "";
width: 18px;
height: 18px;
border-radius: 18px;
margin-left: -9px;
margin-top: -25px;
background: black;
position: absolute;
top: 70%;
left: 50%;
box-shadow: 0 0 30px gray
}

.in::after {
/*content: "BIRD CLOCK";*/
position: absolute;
width: 100%;
font: normal 0.8em Arial;
color: white;
text-align: center;
top: 85%
}

#hourhand {
	position: absolute;
	left: -100px;
	top: -170px;
}

.hand, .hand.hour {
position: absolute;
width: 4px; /* default width of hands/ hour hand */
height: 30%; /* default height of hands/ hour hand */
top: 20%; /* offset hand vertically by 20% so its bottom is at center of clock */
left: 50%; /* offset hand horiz by 50% so its left is at center of clock */
margin-left: -2px; /* Account for hand width to center hand horizonally */
background: black;
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
-moz-transform-origin: bottom; /* Set transform origin to center bottom */
-ms-transform-origin: bottom;
-webkit-transform-origin: bottom;
transform-origin: bottom;
z-index: -1;
-moz-box-shadow: 0 0 3px gray;
-webkit-box-shadow: 0 0 3px gray;
box-shadow: 0 0 3px gray
}

.hand.minute { /* minute hand (2nd longest) */
height: 45%;
top: 5%;
width: 6px;
margin-left: -3px;
}
